    version: "3.8"
    services:
      app:
        build:
          context: ..
          dockerfile: Dockerfile
        container_name: cutly_new
        env_file:
          - .env-non-dev
        ports:
          - "8000:8000"
        depends_on:
          - db

      db:
        image: postgres:15-alpine
        container_name: cutly_db
        volumes:
          - postgres_data:/var/lib/postgresql/data
        env_file:
          - .env-non-dev
        ports:
          - "5432:5432"
    volumes:
      postgres_data: